.section {
  padding: 94px 0;
  @media screen and (max-width: 767px) {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;;
    filter: none;
  }
}

.section__list {
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.section__item {
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.conteiner__icon {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    height: 120px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    height: 120px;
  }
  
}

.section__heding {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.section__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}
